<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="description" content="A really widgety dashboard.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
    <style>html{background-color: #303030;}html,body,#app{height:100%;width:100vw;margin:0;overflow-x:hidden;position:relative;}</style>
    <% preact.headEnd %>
</head>
<body>
    <noscript>
        <h1>This page requires Javascript</h1>
        <a href="//brianfiala.club/assets/legal/privacy-policy.html">
            privacy policy
        </a>
        <a href="//brianfiala.club/assets/legal/terms-of-service.html">
            terms and conditions
        </a>
    </noscript>
    <% preact.bodyEnd %>
</body>
</html>